/* Customizações */

body {
  background-color: #000000;
  background-image: url("images/overlay.png");
}

.icon.style1 {
  color: #a8cf45;
}

.icon.style2 {
  color: #449fd4;
}

.icon.style3 {
  color: #0665af;
}

body.is-preload #header.alt .logo {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

#main header.major h2:after {
  background-color: #dddddd;
  background-image: -moz-linear-gradient(90deg, #a8cf45, #0665af, #449fd4);
  background-image: -webkit-linear-gradient(90deg, #a8cf45, #0665af, #449fd4);
  background-image: -ms-linear-gradient(90deg, #a8cf45, #0665af, #449fd4);
  background-image: linear-gradient(90deg, #a8cf45, #0665af, #449fd4);
}